body {
    display:flex;
    font-family: 'Raleway', sans-serif;
    font-family: 'Saira Stencil One', cursive;
    justify-content: center;
}
h1 {
    font-size: 45px;
    margin: 40px;
}

.base_plate {
    position: absolute;
    background-color: slategray;   
    max-width: 800px;
    min-width:800px;
    max-height:600px;
    min-height:600px;
    border-radius: 15px;
    box-shadow: 0px 15px 5px #31372B;
    margin: 100px 

}
.mounting_plate {
    position: absolute;
    background-color: black;
    max-width: 400px;
    min-width:400px;
    max-height:500px;
    min-height:500px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px #ACACAA;
    margin: 150px;
    margin-left: 475px;
}

.touchpad_set {
    display: grid;
    position: relative;
    grid-template-rows: 150px 150px;
    grid-template-columns:150px 150px;
    grid-gap: 25px;
    margin-top: 200px;
    margin-right: 47px;
    max-height:fit-content;
    max-width:fit-content;
    min-height: fit-content;
    min-width:fit-content;
}

#red {
    background-color: #b31828;
    box-shadow: 0px 10px 1px #6b0303;
    border-radius: 15px;
    transition:0.15s;
}

#red:hover,
#red:focus {
    background-color:#d42335;
    box-shadow: 0px 10px 1px #c00404;
    border-radius: 15px;
}

#red:active,
#red.activated {
    box-shadow: 0px 5px 1px #c00404;
    background-color:#f7253a;
    border-radius: 15px;
}

#white {
    background-color:#f8f5f5e0;
    box-shadow: 0px 10px 1px #a5a4a3cb;
    border-radius:15px;
}
#white:hover,
#white:focus {
    background-color:#fdfcfae8;
    box-shadow: 0px 10px 1px #c4c1c1;
    border-radius: 15px;
}
#white:active,
#white.activated {
    box-shadow: 0px 5px 1px #cfcdcd;
    background-color: #f8f6f6;
    border-radius: 15px;
}

#gray {
    background-color:#71797E;
    box-shadow: 0px 10px 1px #524e4e;
    border-radius:15px;
}
#gray:hover,
#gray:focus {
    background-color:#a5b2b9;
    box-shadow: 0px 10px 1px #8d8787;
    border-radius: 15px;
}
#gray:active,
#gray.activated {
    box-shadow: 0px 5px 1px #cfe0e9;
    background-color: #c2bbbb;
    border-radius: 15px;
}

#green {
    background-color: #51D324;
    box-shadow: 0px 10px 1px #168331;
    border-radius:15px;
    /* alt background-color: #ca9f10; */
}

#green:hover,
#green:focus {
    background-color:#82e661;
    box-shadow: 0px 10px 1px #42af5d;
    border-radius: 15px;
}
#green:active,
#green.activated {
    box-shadow: 0px 5px 1px #8ecc7a;
    background-color: #a7f0b9;
    border-radius: 15px;
}

#defuse {
    position:relative;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    color:white;
    padding:5px;
    background-color: #b31828;
    box-shadow: 0px 7px 1px #6b0303;
    border-radius: 10px;
}

.countdown_set {
    display:grid;
    position:absolute;
    background-color: black;
    max-width:310px;
    min-width:310px;
    max-height:150px;
    min-height:150px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px #ACACAA;
    margin-right: 410px;
    margin-top: 150px;
}

/* .screenID {
    position:relative;
    font-family: 'Orbitron', sans-serif;
    color:#51D324;
    padding:10px;
    text-align: center;
} */

#panel {
    position:relative;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    color:#51D324;
    padding: 5px;
    max-width:310px;
    min-width:310px;
    max-height:100px;
    min-height:100px;
    border-radius: 15px;
    margin-right: 300px;
    margin-top: 25px;
    text-align: center;
}

#time {
    font-family: 'Orbitron', sans-serif;
    color:#51D324;
}

.sequence_set {
    display:grid;
    position:absolute;
    background-color: black;
    max-width: 310px;
    min-width:310px;
    max-height: 235px;
    min-height: 235px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px #ACACAA;
    margin-right: 410px;
    margin-top: 412px;
}

.screentag {
    font-family: 'Orbitron', sans-serif;
    color:#51D324;
    padding:15px;
    text-align: center;
}

.readout {
    font-family: 'Orbitron', sans-serif;
    color:#51D324;
    padding:15px;
    text-align: center;
    position:absolute;
    max-width:250px;
    min-width:250px;
    max-height:100px;
    min-height:100px;
    border-radius: 15px;
    margin-right: 100px;
    margin-top: 25px;
}

.readout2 {
    font-family: 'Orbitron', sans-serif;
    color:#51D324;
    padding:15px;
    text-align: center;
    position:absolute;
    max-width:250px;
    min-width:250px;
    max-height:100px;
    min-height:100px;
    border-radius: 15px;
    margin-right: 100px;
    margin-top: 25px;
}



.goal {
    /* background-color: #ECECEC; */
    position:absolute;
    max-width:250px;
    min-width:250px;
    max-height:100px;
    min-height:100px;
    border-radius: 15px;
    margin-right: 100px;
    margin-top: 25px;
}

.count {
   /* background-color: #ECECEC; */
   position:absolute;
   max-width:250px;
   min-width:250px;
   max-height:100px;
   min-height:100px;
   border-radius: 15px;
   margin-right: 100px;
   margin-top: 25px;
}





/* font-family: 'Raleway', sans-serif;
font-family: 'Saira Stencil One', cursive;

font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif; */

/* metallic silver for baseplate:
background-color:
linear-gradient(
90deg, #787878 0%,
        #b5b5b5 25%,
        #e3e3e3 50%,
        #b5b5b5 75%,
        #787878 100%
);  */