body {
    display:flex;
    font-family: 'Raleway', sans-serif;
    font-family: 'Saira Stencil One', cursive;
    justify-content: center;
}
h1 {
    font-size: 45px;
    margin: 40px;
}

.base_plate {
    position: absolute;
    background-color: slategray;
    max-width: 800px;
    min-width:800px;
    max-height:600x;
    min-height:600px;
    border-radius: 15px;
    box-shadow: 0px 15px 5px #31372B;
    margin: 100px 

}
.mounting_plate {
    position: absolute;
    background-color: black;
    max-width: 400pxx;
    min-width:400px;
    max-height:500x;
    min-height:500px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px #ACACAA;
    margin: 150px;
    margin-left: 475px;
}

.touchpad_set {
    display: grid;
    position: relative;
    grid-template-rows: 150px 150px;
    grid-template-columns:150px 150px;
    grid-gap: 25px;
    margin-top: 200px;
    margin-right: 47px;
    max-height:fit-content;
    max-width:fit-content;
    min-height: fit-content;
    min-width:fit-content;
}

#red {
    background-color: #B50717;
}

#white {
    background-color:#ECECEC;
}

#dark_gray {
    background-color:#A2A2A2;
}
#color {
    background-color: #51D324
    /* background-color: #ca9f10; */
}

#defuse {
    position:relative;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    padding:5px;
}

.countdown_set {
    display:grid;
    position:absolute;
    background-color: black;
    max-width:310px;
    min-width:310px;
    max-height:150px;
    min-height:150px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px #ACACAA;
    margin-right: 410px;
    margin-top: 150px;
}

#panel {
    position:relative;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    color:#51D324;
    padding: 5px;
    max-width:307px;
    min-width:307px;
    max-height:100px;
    min-height:100px;
    border-radius: 15px;
    margin-right: 300px;
    margin-top: 25px;

}

#time {
    font-family: 'Orbitron', sans-serif;
    color:#51D324;
}

.sequence_set {
    display:grid;
    position:absolute;
    background-color: black;
    max-width: 310px;
    min-width:310px;
    max-height: 235px;
    min-height: 235px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px #ACACAA;
    margin-right: 410px;
    margin-top: 412px;
}

.screentag {
    font-family: 'Orbitron', sans-serif;
    color:#51D324;
}

.goal {
    /* background-color: #ECECEC; */
    position:absolute;
    max-width:250px;
    min-width:250px;
    max-height:100px;
    min-height:100px;
    border-radius: 15px;
    margin-right: 100px;
    margin-top: 25px;
}

.count {
   /* background-color: #ECECEC; */
   position:absolute;
   max-width:250px;
   min-width:250px;
   max-height:100px;
   min-height:100px;
   border-radius: 15px;
   margin-right: 100px;
   margin-top: 25px;
}


/* font-family: 'Raleway', sans-serif;
font-family: 'Saira Stencil One', cursive;

font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif; */